{% extends "App_Pagina/base.html"%}

{% load static %}

{% block title %} Acerca de {% endblock title %}

{% block main %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur gravida porttitor. Etiam convallis lobortis tincidunt. Ut eget accumsan diam. Quisque mauris eros, aliquet ut neque a, vestibulum fringilla diam. Donec facilisis, leo sit amet tristique ultricies, nunc quam efficitur mauris, placerat cursus diam ante sit amet metus. Nullam eget sodales nunc. Praesent ac vehicula nunc, id facilisis odio. Aliquam quis velit ex.</p>

    <p>Maecenas id viverra ex. Etiam efficitur nec neque quis scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit purus, volutpat at faucibus in, pellentesque ut erat. Nullam dui nulla, scelerisque nec ante vel, lobortis laoreet augue. Mauris blandit augue sed odio luctus ullamcorper. Nullam venenatis ante quis tellus molestie, nec feugiat tortor vestibulum.</p>
        
    <p>Suspendisse ac aliquam nunc. Fusce condimentum id quam ac venenatis. Donec sed vestibulum velit. Mauris in dui vel ligula laoreet gravida id ac nulla. Phasellus non tellus nisi. Nunc venenatis et erat in viverra. Fusce laoreet faucibus orci sit amet molestie. Praesent quis felis et ligula hendrerit consectetur id id felis. Fusce cursus hendrerit fringilla. Integer laoreet dictum tellus id hendrerit. Integer id nibh metus. Aenean molestie magna id massa imperdiet, sed pulvinar arcu fermentum. Quisque pharetra imperdiet quam, in feugiat arcu tincidunt in. Phasellus massa tellus, vehicula laoreet semper in, semper in risus. Aliquam nisi mauris, pretium quis lectus quis, scelerisque condimentum velit. Nam et condimentum dui.</p>
        
    <p>Duis et lectus gravida lorem ultricies elementum. In hac habitasse platea dictumst. Cras nec ipsum malesuada, accumsan metus imperdiet, bibendum nibh. Proin condimentum lacus suscipit quam egestas mollis. Quisque sagittis turpis non porta luctus. Etiam elementum velit auctor nibh interdum sagittis. Sed non ligula ac lorem elementum aliquet eget et sapien. In in nibh et metus venenatis commodo. Morbi et gravida dui. Proin vel erat vitae felis hendrerit imperdiet.</p>


{% endblock main %}